
 <div id="myCanvas"></div>
<p>
    <button onclick="drawRects()">Click to Draw Rectangles with Two.js</button>
</p>
<p>
    <button onclick="drawGamakichi()">Click to Draw Frog Eye with Two.js</button>
</p>
<p>
    <button onclick="drawPolygon(8)">Click to draw polygon</button>
</p>
<p>
    <button onclick="drawPentominoeL()">Click to Draw L shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeP()">Click to Draw P shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeX()">Click to Draw X shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeF()">Click to Draw F shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeV()">Click to Draw V shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeU()">Click to Draw U shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeW()">Click to Draw W shaped Pentominoe</button>
</p>

<p>
    <button onclick="drawPentominoeY()">Click to Draw Y shaped Pentominoe</button>
</p>

<p>
    <button onclick="drawPentominoeI()">Click to Draw I shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeT()">Click to Draw T shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeZ()">Click to Draw Z shaped Pentominoe</button>
</p>
<p>
    <button onclick="drawPentominoeN()">Click to Draw N shaped Pentominoe</button>
</p>